.post{
  display: inline-block;
  opacity: 0;
  padding: 0.25rem;
  margin-bottom: 1rem;
  background: #fff;
  border-radius: 3.5px;
  transition: opacity 0.3s linear, height 0.3s linear;

  &.host {
    align-self: flex-end;
  }

  .content {
    padding-right: 1rem;
    padding-left: 1rem;
  }

  &.show {
    opacity: 1;
  }
}
