.form-group {
  margin-bottom: 0.5rem;
}

button, input, optgroup, select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}


button {
  background-color: #026aa7;
  border: none;
  box-shadow: none;
  color: #fff;
  padding: 6px 14px;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    background-color: darken(#026aa7, 10);
  }

  &.btn-icon {
    background-color: transparent;
    width: 32px;
    height: 32px;
    padding: 0;
    color: $grey-200;
    font-size: 1.5rem;
    &:hover {
      color: darken($grey-200, 10)
    }
  }
}

[data-id="send"] {
  display: none;
}


.form-label {
  margin-bottom: .5rem;
  display: inline-block;
}

.form-control {
  display: block;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  appearance: none;

  &:focus {
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
  }

  &.invalid {
    border-color: red;
  }
}

.form {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  background: #fff;
  border-radius: 0 0 3px 3px;
  padding: 0.5rem;
  & > * {
    margin: 0 0.25rem;
  }
  &-textarea {
    flex: 1;
    textarea {
      width: 100%;
      padding: 0.5rem;
      border: none;
      outline: none;
      resize: none;
    }
  }
}
